
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" novalidate (ngSubmit)="onLogin()">
  <ion-grid>
    <ion-row >
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-card size="4">
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>LOGIN</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <ion-item>
              <ion-label position="floating">Email o Nombre de usuario</ion-label>
              <ion-input name="nameUser" id="nameUser" required [(ngModel)]="nameUser"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" >Password</ion-label>
              <ion-input type="password" name="password" id="password" required [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-button type="submit" [disabled]="!f.valid" expand="block">Iniciar Sesion</ion-button>
            <ion-item>
              <p>No tiene un cuenta.</p>
              <p style="color: blue" (click)="register()"> Registrese aqui.</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</form>

</ion-content>
