<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Nuevo Producto</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" novalidate (ngSubmit)="addProduct()">
    <ion-grid>
      <ion-row >
        <ion-col></ion-col>
        <ion-col size="auto">
          <ion-card size="4">
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title>Nuevo Producto</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
             
              <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input name="name" id="name" autocomplete="off" [(ngModel)]="nameProduct"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" >Precio:</ion-label>
                <ion-input name="phone" id="phone" autocomplete="off" [(ngModel)]="price"></ion-input>
              </ion-item>
              
                <ion-radio-group name="coint" id="phone" [(ngModel)]="coint" value="custom-checked">
                  <ion-item><ion-label>Bolivianos</ion-label>
                  <ion-radio value="0" slot="end" checked></ion-radio>
                </ion-item>
              <ion-item>
                  <ion-label>Dolar</ion-label>
                  <ion-radio value="1" slot="end"></ion-radio>
                </ion-item>
                </ion-radio-group>
              
              <ion-item>
                <ion-label position="floating" >Cantidad de items:</ion-label>
                <ion-input type="number" name="relationship" id="relationship" autocomplete="off" [(ngModel)]="stock"></ion-input>
              </ion-item>
              <ion-button type="submit" expand="block">Agregar</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  
  </form>
</ion-content>
